<!DOCTYPE html>
<html>
<head>
    <title>Registro Exitoso</title>
</head>
<body style="background-color: #f1f1f1;">

<h2 style="text-align: center; color: white;">Registro Exitoso</h2>

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <p style="color: green;">{{ mensaje }}</p>
    <br>
    <a href="{{ url_for('index') }}" style="background-color: #333; color: white; border: none; padding: 10px 20px; cursor: pointer; text-decoration: none;">Regresar al índice</a>
</div>

</body>
</html>